// COLORS

$color-primary: #1c4d38;
$color-primary-light: #2d684e;

$color-secondary: #926d3c;

$color-offwhite: #f7f7f7;

$color-grey: #777777;
$color-grey-light: #ddd;

$color-white: #fff;
$color-black: #000;

// DIMENSIONS

$nav-width: 25rem;