// COLORS

$color-primary: #1c4d38;
$color-primary-light: #2d684e;
$color-primary-lighter: #5a8874;

$color-secondary: #926d3c;
$color-secondary-dark: #5a4225;

$color-alert: #ff4500;

$color-grey: #777777;
$color-grey-light: #ddd;

$color-offwhite: #f7f7f7;
$color-charcoal: #282828;

$color-white: #fff;
$color-black: #000;

// DIMENSIONS

$nav-width: 25rem;